
<!DOCTYPE html>
<html lang="zh-cmn">
<head>
	<title>404 Not Found</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<style>
		* {margin:0;padding:0}
		body {
			background-color:#1d1e1f;
		}
		.container {
			text-align:center;
			margin-top:14%;
		}
		.logo {
			vertical-align:middle;
		}
		.text {
			color:#fff;
			font-family:"Helvetica Neue ", Arial;
			font-size:20px;
			vertical-align:middle;
			margin-left:8px;
		}
		/* 手机版的样式 */
		@media (orientation: portrait) and (max-width: 640pt) {
			.container {
				margin-top:45%;
			}
			.text {
				display:block;
				margin-left:0;
				margin-top:14px;
			}
		}
	</style>
</head>
<body>
	<div class="container">
		<span class="text">404 Not Found</span>
	</div>
</body>
</html>
