<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SADIA</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

<div class="page">
    <div class="page-head">
        <ul>
            <li><a id="sadia" class="active" href="/index/"
                   style="background-image: linear-gradient(to right, darkslateblue, cadetblue); ">SADIA</a></li>
            <li><a href="#news">关于我们</a></li>
            <div class="dropdown" style="">
                <span><a href="#" class="dropbtn">更多···∨</a></span>
                <div class="dropdown-content">
                    <a href="#">来不及解释了</a>
                    <a href="/login/">上车上车</a>
                    <a href="#">麻溜的</a>
                </div>
            </div>
        </ul>
    </div>
    <div class="page-main" style="margin-left: 50px;margin-right: 50px;margin-top: 1px">
        <div class="greet" style="width: 100%;">
            <p style="font-size: 50px;margin-bottom: 0">Welcome to SADIA</p>
            <p style="font-size: 40px;margin-top:10px">Sharing Learning&Enjoying</p>
        </div>
        <p style="background-image: linear-gradient(to right, yellowgreen, cyan); width: 100%;height: 1px"></p>
        <div class="introduce" style="margin-top: auto">
            <h1 style="margin-bottom: 0">关于SADIA</h1>
            <div style="float: left;width: 45%;margin-top: 40px">
                <p>
                    这是一个由郑大S站开发旨在在在校大学生提供优质复习资料的知识共享平台,
                    需要复习资料的同学在这里可以找到每个科目的往年真题，
                    考试过后也可以把整理过的复习资料上传到网站上进行共享。
                </p>
            </div>

            <div class="vedio" style="width: 50% ; float: right;margin-top: 0;">
                <p style="width:100%; text-align: center">
                    宣传视频
                </p>
                <video controls style="padding-right: 15px;">
                    <source src="/static/vedio/SADIA.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <p style="background-image: linear-gradient(to right, palevioletred, orange); width: 100%;height: 1px"></p>
        <div class="introduce">
            <h1>为什么选择SADIA</h1>
            <p>
            <div class="left" style="float: left; width: 50%">
                <img src="/static/image/专业团队.jfif">
            </div>
            <div class="right" style="float: right;width: 50%">
                <p>专业，Understand?</p>
            </div>

            </p>


        </div>
        <p style="background-image: linear-gradient(to right, mediumvioletred, blue); width: 100%;height: 1px"></p>
        <div class="introduce">
            <h1>SADIA如何让你走上人生巅峰</h1>
            <div class="left" style="float: left; width: 50%">
                <p>
                    我们采取了高分利………
                    ………………………………………………………………………
                    ……………………………snap…………………………………………………
                    ………………………………………………………………………
                </p>
            </div>
            <div class="right" style="float: right;width: 50%">
                <img src="/static/image/富婆.jpg">
            </div>
        </div>
        <p style="background-image: linear-gradient(to right, white,chocolate); width: 100%;height: 1px"></p>
        <div class="end">
            <h1>Anyway..</h1>
            <span>快上车，</span>
            <span style="font-size: 30px">快</span>
            <span>别买票了，</span>
            <span style="font-size: 40px">上来再补!!</span>
        </div>
    </div>

    <div class="page-feet" style="text-align: center;width: 100%;margin-top: 100px">
        <p>
            Copyright © 2020-2020 <a href="/index/" style="color: #22EEDD">SADIA</a>
            Powered by <a href="https://www.djangoproject.com/" style="color: #22EEDD">Django</a>
        </p>
    </div>
</div>
</body>
</html>










